<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/sofeess/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/sofeess/">Home</a></li>
	        	<li><a href="/sofeess/team">Team</a></li>
        		<li><a href="/sofeess/projects">Projects</a></li>        		
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:ghizlane.elboussaidi@etsmtl.ca">email</a></li>
			</ul>
		</footer>
	</body>
</html>

